body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px; 
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
}

p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

header {
    width: 100%;
    background-color: #01850c;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

nav .menu-buttons {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

nav .menu-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #044B5E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav .menu-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5);
}

.design-line {
    width: 100%;
    height: 3px;
    background-color: #000;
    margin-top: 10px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 600px) {
    header {
        padding: 15px 0;
    }

    header .logo {
        font-size: 26px;
        margin-bottom: 10px;
    }

    nav .menu-buttons {
        flex-direction: column;
        gap: 10px;
    }

    nav .menu-buttons button {
        width: 80%;
        font-size: 14px;
        padding: 10px;
    }

    body {
        padding-top: 220px; 
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    header .logo {
        font-size: 30px;
    }

    nav .menu-buttons button {
        font-size: 15px;
        padding: 10px 18px;
    }

    body {
        padding-top: 180px;
    }
}
.container img {
    max-width: 400px;  
    width: 100%;      
    height: auto;    
    display: block;  
    margin: 20px auto;
    border-radius: 10px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
iframe {
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: none;
  border-radius: 10px;
}
.menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap; 
}

.menu-buttons a button {
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 16px;
}

